doctype html
html(lang="en")
	head

		block variables
			include config

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width")

		include seo

		link(rel="stylesheet" type="text/css" href="global.css")
		link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Maven+Pro:400,700")

		script(type="text/javascript" src="myapp.js")
		script(type="text/javascript" src="index.js")

		include favicons

	body

		include frontpage/index

		include overlays